<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>AgriHub News</title>
    <style>
        body {
            background-image: url(https://thumbs.gfycat.com/WarmheartedCooperativeHoneybadger-max-1mb.gif);
            /* color: white; */
            text-align: center;
        }
        
        .card {
            margin: 3.5rem;
        }
        
        @keyframes lights {
            0% {
                color: hsl(230, 40%, 80%);
                text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.2), 0 0 0.125em hsla(320, 100%, 60%, 0.3), -1em -0.125em 0.5em hsla(40, 100%, 60%, 0), 1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
            }
            30% {
                color: hsl(230, 80%, 90%);
                text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5), 0 0 0.125em hsla(320, 100%, 60%, 0.5), -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2), 0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
            }
            40% {
                color: hsl(230, 100%, 95%);
                text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5), 0 0 0.125em hsla(320, 100%, 90%, 0.5), -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2), 0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
            }
            70% {
                color: hsl(230, 80%, 90%);
                text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5), 0 0 0.125em hsla(320, 100%, 60%, 0.5), 0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2), -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
            }
            100% {
                color: hsl(230, 40%, 80%);
                text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.2), 0 0 0.125em hsla(320, 100%, 60%, 0.3), 1em -0.125em 0.5em hsla(40, 100%, 60%, 0), -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
            }
        }
        
        h4 {
            margin: auto;
            font-size: 3.5rem;
            font-weight: 300;
            animation: lights 5s 750ms linear infinite;
        }
        
        nav {
            height: 6rem;
            font-size: 1rem;
        }
    </style>
</head>

<body class="m-0 p-0">

    <div class="container-fluid m-0 p-0">

        <!-- navbar -->
        <div>
            <nav class="navbar navbar-expand-lg navbar-dark border-bottom">
                <div class="container-fluid">
                    <a class="navbar-brand text-warning" href="#">AgriHub News</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item ">
                                <a class="nav-link " aria-current="page" href="#genral" id="genral">General</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="#business" id="business">Business</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#sports" id="sport">Sports</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="#tehnology" id="technology">Technology</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#entertainment" id="entertainment">Entertainment</a>
                            </li>
                        </ul>
                        <form class="d-flex">
                            <input class="form-control me-2" type="text" id="newsQuery" placeholder="Search news">
                            <button class="btn btn-outline-warning" type="button" id="searchBtn">Search</button>
                        </form>
                    </div>
                </div>
            </nav>
        </div>

        <!-- News  -->
        <div>
            <div class="row m-3" id="newsType"></div>
            <div class="row me-2 ms-2" id="newsdetails"></div>
        </div>

        <!-- footer -->
        <div class="mt-5">
            <div>
                <nav class="navbar navbar-expand-lg navbar-dark border-top">
                    <div class="container-fluid m-0 p-0">
                        <h5 class="text-white me-auto ms-auto">Agri<span class="text-warning">Hub</span></h5>
                    </div>
                </nav>
            </div>
        </div>

    </div>


    <script>
        const generalBtn = document.getElementById("genral");
        const businessBtn = document.getElementById("business");
        const sportsBtn = document.getElementById("sport");
        const entertainmentBtn = document.getElementById("entertainment");
        const technologyBtn = document.getElementById("technology");
        const searchBtn = document.getElementById("searchBtn");

        const newsQuery = document.getElementById("newsQuery");
        const newsType = document.getElementById("newsType");
        const newsdetails = document.getElementById("newsdetails");

        // Array
        var newsDataArr = [];

        // apis 
        const API_KEY = "f3700a29129a45f9b0caa240a240ca33";
        const HEADLINES_NEWS = "https://newsapi.org/v2/top-headlines?country=in&apiKey=";
        const GENERAL_NEWS = "https://newsapi.org/v2/top-headlines?country=in&category=general&apiKey=";
        const BUSINESS_NEWS = "https://newsapi.org/v2/top-headlines?country=in&category=business&apiKey=";
        const SPORTS_NEWS = "https://newsapi.org/v2/top-headlines?country=in&category=sports&apiKey=";
        const ENTERTAINMENT_NEWS = "https://newsapi.org/v2/top-headlines?country=in&category=entertainment&apiKey=";
        const TECHNOLOGY_NEWS = "https://newsapi.org/v2/top-headlines?country=in&category=technology&pageSize=8&apiKey=";
        const SEARCH_NEWS = "https://newsapi.org/v2/everything?q=";

        window.onload = function() {
            newsType.innerHTML = "<h4>Headlines</h4>";
            fetchHeadlines();
        };


        generalBtn.addEventListener("click", function() {
            newsType.innerHTML = "<h4>General news</h4>";
            fetchGeneralNews();
        });

        businessBtn.addEventListener("click", function() {
            newsType.innerHTML = "<h4>Business</h4>";
            fetchBusinessNews();
        });

        sportsBtn.addEventListener("click", function() {
            newsType.innerHTML = "<h4>Sports</h4>";
            fetchSportsNews();
        });

        entertainmentBtn.addEventListener("click", function() {
            newsType.innerHTML = "<h4>Entertainment</h4>";
            fetchEntertainmentNews();
        });

        technologyBtn.addEventListener("click", function() {
            newsType.innerHTML = "<h4>Technology</h4>";
            fetchTechnologyNews();
        });

        searchBtn.addEventListener("click", function() {
            newsType.innerHTML = "<h4>Search : " + newsQuery.value + "</h4>";
            fetchQueryNews();
        });

        const fetchHeadlines = async() => {
            const response = await fetch(HEADLINES_NEWS + API_KEY);
            newsDataArr = [];
            if (response.status >= 200 && response.status < 300) {
                const myJson = await response.json();
                newsDataArr = myJson.articles;
            } else {
                // handle errors
                console.log(response.status, response.statusText);
                newsdetails.innerHTML = "<h5>No data found.</h5>"
                return;
            }

            displayNews();
        }


        const fetchGeneralNews = async() => {
            const response = await fetch(GENERAL_NEWS + API_KEY);
            newsDataArr = [];
            if (response.status >= 200 && response.status < 300) {
                const myJson = await response.json();
                newsDataArr = myJson.articles;
            } else {
                // handle errors
                console.log(response.status, response.statusText);
                newsdetails.innerHTML = "<h5>No data found.</h5>"
                return;
            }

            displayNews();
        }

        const fetchBusinessNews = async() => {
            const response = await fetch(BUSINESS_NEWS + API_KEY);
            newsDataArr = [];
            if (response.status >= 200 && response.status < 300) {
                const myJson = await response.json();
                newsDataArr = myJson.articles;
            } else {
                // handle errors
                console.log(response.status, response.statusText);
                newsdetails.innerHTML = "<h5>No data found.</h5>"
                return;
            }

            displayNews();
        }

        const fetchEntertainmentNews = async() => {
            const response = await fetch(ENTERTAINMENT_NEWS + API_KEY);
            newsDataArr = [];
            if (response.status >= 200 && response.status < 300) {
                const myJson = await response.json();
                console.log(myJson);
                newsDataArr = myJson.articles;
            } else {
                // handle errors
                console.log(response.status, response.statusText);
                newsdetails.innerHTML = "<h5>No data found.</h5>"
                return;
            }

            displayNews();
        }

        const fetchSportsNews = async() => {
            const response = await fetch(SPORTS_NEWS + API_KEY);
            newsDataArr = [];
            if (response.status >= 200 && response.status < 300) {
                const myJson = await response.json();
                newsDataArr = myJson.articles;
            } else {
                // handle errors
                console.log(response.status, response.statusText);
                newsdetails.innerHTML = "<h5>No data found.</h5>"
                return;
            }

            displayNews();
        }

        const fetchTechnologyNews = async() => {
            const response = await fetch(TECHNOLOGY_NEWS + API_KEY);
            newsDataArr = [];
            if (response.status >= 200 && response.status < 300) {
                const myJson = await response.json();
                newsDataArr = myJson.articles;
            } else {
                // handle errors
                console.log(response.status, response.statusText);
                newsdetails.innerHTML = "<h5>No data found.</h5>"
                return;
            }

            displayNews();
        }

        const fetchQueryNews = async() => {

            if (newsQuery.value == null)
                return;

            const response = await fetch(SEARCH_NEWS + encodeURIComponent(newsQuery.value) + "&apiKey=" + API_KEY);
            newsDataArr = [];
            if (response.status >= 200 && response.status < 300) {
                const myJson = await response.json();
                newsDataArr = myJson.articles;
            } else {
                //error handle
                console.log(response.status, response.statusText);
                newsdetails.innerHTML = "<h5>No data found.</h5>"
                return;
            }

            displayNews();
        }

        function displayNews() {

            newsdetails.innerHTML = "";

            // if(newsDataArr.length == 0) {
            //     newsdetails.innerHTML = "<h5>No data found.</h5>"
            //     return;
            // }

            newsDataArr.forEach(news => {

                var date = news.publishedAt.split("T");

                var col = document.createElement('div');
                col.className = "col-sm-12 col-md-4 col-lg-3 p-2 card";

                var card = document.createElement('div');
                card.className = "p-2";

                var image = document.createElement('img');
                image.setAttribute("height", "matchparent");
                image.setAttribute("width", "100%");
                image.src = news.urlToImage;

                var cardBody = document.createElement('div');

                var newsHeading = document.createElement('h5');
                newsHeading.className = "card-title";
                newsHeading.innerHTML = news.title;

                var dateHeading = document.createElement('h6');
                dateHeading.className = "text-primary";
                dateHeading.innerHTML = date[0];

                var discription = document.createElement('p');
                discription.className = "text-muted";
                discription.innerHTML = news.description;

                var link = document.createElement('a');
                link.className = "btn btn-dark";
                link.setAttribute("target", "_blank");
                link.href = news.url;
                link.innerHTML = "Read more";

                cardBody.appendChild(newsHeading);
                cardBody.appendChild(dateHeading);
                cardBody.appendChild(discription);
                cardBody.appendChild(link);

                card.appendChild(image);
                card.appendChild(cardBody);

                col.appendChild(card);

                newsdetails.appendChild(col);
            });

        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

</html>